/*Specification*/
body{
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #404048;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 38px;
	color: #081d42;
}
h2{
	font-size: 30px;
	color: #081d42;
}
h3{
	font-size: 25px;
	color: #fff;
}
h4{
	font-size: 19px;
	color: #caccd0;
}
h5{
	font-size: 16px;
	color: #414449;
}
h6{
	font-size: 15px;
	color: #747487;
}
div, section, a, span, p{
	box-sizing: border-box;
}
p{
	color: #404048;
	font-size: 15px;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}
span{
	font-size: 13px;
	color: #a1a6af;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}
.red{
	color: #b81c31;
}
.container{
	width: 1170px;
	margin: auto;
	padding: 0;
}
/*Header section*/
.menu-open {
    background: none;
    color: #000;
    border: 0;
    font-size: 30px;
    margin-top: 40px;
}

.opened {
    order: 7;
}

.opened .top__menu_items {
    background: rgb(217, 179, 255);
    margin-top: 20px;
}
.opened .top__menu_items .menu__item {
    margin-bottom: 0;
    margin-left: 40px;
}
.top__menu{
	background-color: #e5e6e8;
}
.logo{
	padding: 25px 0 22px 0; 
}
.top__menu_items li{
	padding: 46px 0 51px 20px;
}
.top__menu_items a{
	color: #3f4b60;
	font-size: 17px;
	text-decoration: none;
}
.green__menu_button{
	padding: 14px 15px 14px 12px;
	color: #fff;
	font-size: 13px;
	text-align: center;
	background-color: #1cb883;
	outline: none;
	border: none;
	border-bottom: 3px solid #149d6f;
}
a.green__menu_button{
	text-decoration: none;
}
.green__menu_button:hover{
	color: #1cb883;
	background-color: #fff;
}
.fa-phone{
	font-size: 18px;
	color: #46e6b0;
	padding-right: 12px;
}
/*Second section*/
.light__blue_line{
	background: #f6f6f7;
}
.col-lg-10{
	padding: 0;
}
.facebook__icon, .twitter__icon, .telegram__icon{
	width: 33px;
	height: 33px;
	text-align: center;
	margin-top: 9px;
}
li.twitter__icon, li.telegram__icon{
	margin-left: 20px;
}
.facebook__icon{
	border: 2px solid #4872a9;
}
.twitter__icon{
	border: 2px solid #43c9fd;
}
.telegram__icon{
	border: 2px solid #25a3d4;
}
.fa-facebook, .fa-twitter, .fa-telegram{
	font-size: 17px;
	line-height: 30px;
}
.fa-facebook{
	color: #4872a9;
}
.fa-twitter{
	color: #43c9fd;
}
.fa-telegram{
	color: #25a3d4;
}
.header__icons_line{
	padding: 13px 22px 18px 0;
}
.line_icon{
	margin-left: 0;
}
.text__icon_item{
	width: 268px;
	color: #081d42;
	font-size: 12px;
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-weight: 200;
	margin-top: 9px;
}
.arrow__icon{
	margin: 13px 14px 0 27px;
}
.search__button{
	padding-top: 20px;
}
.input__search{
	position: relative;
	width: 163px;
	height: 40px;
	outline: none;
	font-size: 13px;
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-weight: 200;
	padding-left: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0 ,0 , 0.2);
}
input.input__search, button.search{
	outline: none;
	border: none;
}
button.search{
	position: absolute;
	right: 30px;
	top: 25px;
	background: none;
}
.fa-search{
	color: #8a8a8a;
	font-size: 16px;
}
.service{
	background: #fafafb;
	padding-top: 37px;
}
.service__title{
	margin-bottom: 17px;
}
.company__link{
	color: #7e838d;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
	margin-bottom: 43px;
}
.about__service_link{
	text-decoration: underline;
	color: #7e838d;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}
.about__service_item{
	margin-right: 12px;
}
.about__service_item a{
	color: #a1a6af;
	font-size: 15px;
	padding: 20px 13px 19px 15px;
	border: 2px solid rgba(0,0,0,0);
}
.about__service_item:hover span{
	color: #b81c31;
}
.nav-link:hover{
	color: #b81c31;
	border: 2px solid #b81c31;
	text-decoration: none;
}
.item__hover:hover{
	color: #b81c31;
}

/*Third section*/
.low__background{
	background: url('../img/audit.png') no-repeat center;
}
.low__service_text{
	color: #fff;
	line-height: 20px;
	width: 328px;
}
.team__img{
	margin-top: 50px;
}
.low__service_title{
	margin-top: 65px;
	padding-bottom: 25px;
	width: 206px;
	line-height: 25px;
}
.low__service_white{
	width: 365px;
	height: 230px;
	border: 2px solid #bcc0cc;
	border-radius: 2%;
	margin-top: 45px;
	margin-left: 75px;
	padding: 18px 0 26px 34px;
}
.low__service_item{
	color: #fff;
	font-size: 16px;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
	line-height: 31px;
}
.low__service_item:hover{
	color: #fff;
}
.low__white_arrow{
	color: #fff;
}
/*Fourth section*/
.pre__category_title{
	margin-top: 60px;
	margin-bottom: 35px;
}
.pre__category_contact{
	width: 468px;
	height: 190px;
	border: 2px solid #e3e4e6;
	border-radius: 2%;
	margin-top: 40px;
	margin-bottom: 60px;
	padding: 24px 0 0 32px;
}
.category__contact_button{
	color: #b81c31;
	font-size: 14px;
	text-align: center;
	width: 156px;
	border: 2px solid #b81c31;
	padding: 8px 23px; 
	margin-top: 19px;
}
.category__contact_button:hover{
	color: #fff;
	background-color: #b81c31; 
}
.category__contact_phone{
	color: #585f6b;
	font-size: 14px;
	margin-top: 28px;
	margin-left: 15px;
}
.category__contact-text{
	width: 223px;
	line-height: 14px;
	font-size: 12px;
	color: #888d95;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
	padding-top: 16px;
}
.category__contact_img{
	margin-left: 80px;
	margin-top: -15px;
}
.pre__category_navigation{
	background-color: #fafafb;
	padding-left: 0;
	padding-right: 0;
}
.navigation__title{
	margin-top: 55px;
	margin-bottom: 30px;
	color: #58647a;
	padding-left: 28px;
}
.light__navigation_line{
	border-bottom: 1px solid #dfdfe8;
}
.paragraph{
	color: #747487;
	padding: 18px 0 8px 28px;
}
.fa-square{
	padding-right: 16px;
}
.paragraph__text{
	width: 184px;
	padding-top: 16px;
}
h6{
	margin: 23px 55px 19px 0;
	text-align: center;
}
.comment-slider {
    position: relative;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -112px;
    font-size: 25px;
    color: #404048;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.5s ease;
    z-index: 1000;
}
.comment-slider__item img {
    display: block;
    margin-left: 58px;
}
.slick-prev {
    left: 5px;
}
.slick-prev:hover {
    left: 3px;
}
.slick-next {
    right: 5px;
}
.slick-next:hover {
    right: 3px;
}
.comment__block{
	margin-left: 70px;
}
.comment__icon_facebook{
	text-align: center;
	margin: 14px 55px 22px 0;
}
.comment__icon{
	font-size: 14px;
	color: #2c60a0;
}
.comment__block_text{
	font-size: 13px;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
	width: 265px;
}
.slick-dots{
    margin: 0 0 0 34px;
    display: flex;
    justify-content: center;
}
.slick-dots li {
    margin-right: 15px;
}
.slick-dots li button {
    background: #bdc5d6;
    width: 3px;
    height: 14px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 0;
}
.slick-dots li.slick-active button {
    background: #8b9ab7;
}
/*Fifth section*/
.branches__dark_blue{
	background: #3a4456;
}
.branches__title{
	padding-top: 48px;
	padding-bottom: 30px;
}
.branches__describe{
	color: #bcbfc5;
	font-size: 14px;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	font-weight: 300;
}
.below__line{
	margin-bottom: 55px;
}
/*Footer*/
.footer__block{
	background: #1f2531;
}
.cooperation{
	color: #d3d6da;
	font-size: 12px;
	font-family: 'Museo Sans Cyrl 100', sans-serif;
	font-weight: 200;
	margin-top: 30px;
	margin-bottom: 40px;
}
.a__logo_a{
	width: 26px;
	height: 26px;
	border: 1px solid #d3d6da;
	margin-right: 7px;
	margin-left: -2px;
	margin-top: 4px;
	margin-bottom: 7px;
}
.a__logo_author{
	text-transform: uppercase;
	color: #d3d6da;
}
.strong__font{
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	font-weight: 700;
}
.footer__mail{
	color: #d3d6da;
	text-decoration: underline;
}
a.footer__mail:hover{
	color: #d3d6da;
}
.footer__button{
	margin-top: 65px;
}
.footer__blue_line{
	background: #58647a;
	height: 20px;
}
.font{
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	font-weight: 700;
}
/*Modal window*/
.box-modal {
	position: relative;
	width: 300px;
	padding: 30px 20px;
	background: #e0ebeb;
	border-radius: 10px;
	border: 2px solid #a2c3c3;
}
.box-modal_close {
 	position: absolute; 
 	right: 10px;
 	top: 6px;
   	font-size: 18px;
    line-height: 20px; 
    color: #999; 
    cursor: pointer; 
}
.box-modal_close:hover {
 	color: #666;
  }

.form__title {
	font-size: 16px;
	text-align: center;
	margin-bottom: 15px;
	color: #507c7c;
}

.form__input {
	font: inherit;
	display: block;
	font-size: 15px;
	width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #adad85;
	margin-bottom: 10px;
}

.form__input:last-child {
	margin-bottom: 40px;
}

.form__input:focus{
	border-color: #2654a4;
}
.button{
	font-size: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 172px;
	padding: 10px 0;
	margin: 30px 0 0 45px;
}
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
    display: none;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000c;
	left: 0px;
	top: 0px;
	cursor: pointer;
}
#thx {
	background: #e0ebeb;
	position: absolute;
	left: 50%;
	margin-left: -170px;
	top: 50%;
	padding: 30px;
	margin-top: -20px;
	color: #507c7c;
}